- name: Install MySQL in Master and Slave
  hosts: mysql_servers
  gather_facts: true

  roles:
    - mysql_common

- name: Setup MySQL Master
  hosts: master
  gather_facts: true

  roles:
    - mysql_master
    - schedule_backup

- name: Setup MySQL Slave
  hosts: slave
  gather_facts: true
  vars:
    mysql_master_status: "{{ hostvars['master']['mysql_master_status'] }}"
  roles:
    - mysql_slave
